* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    margin: 0;
    padding: 0;
    background-color: #edf2f7;
    font-family: "Montserrat", sans-serif;
}

div {
    background-color: orange;
    padding: 20px;
    font-weight: bold;
}
